body
{
    background-color: aquamarine;
}

p, span { 
    padding-top:10px; 
    font-family: 'Special Elite', fantasy; 
    font-size:25px; }

#score { 
    font-size:35px; 
    margin-left: 20px; 
} 

#time { 
    font-size:35px; 
    float: right; 
    margin-right: 20px; }

h1 { 
    font-family: 'Special Elite', fantasy; 
    color:rgb(38, 0, 255); 
    background-color: cornsilk;
}

#sketch_name { color:red; 
} 

#show_sketch { float:right; }